In [1]:
import numpy as np , pandas as pd

In [2]:
data = pd.read_csv('content/preprocessed_train.csv')

In [4]:
data.head()

,Unnamed: 0,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,day,month,hour
0,146446,7,1,2016-02-29 09:00:00,1857.260,0,0,121074,12.8,NaN,8.9,0.0,1021.9,0.0,0.0,29,2,9
1,146449,9,1,2016-02-29 09:00:00,590.945,0,6,27000,12.8,NaN,8.9,0.0,1021.9,0.0,0.0,29,2,9
2,146454,13,1,2016-02-29 09:00:00,1224.100,0,0,99380,12.8,NaN,8.9,0.0,1021.9,0.0,0.0,29,2,9
3,146456,14,1,2016-02-29 09:00:00,1435.150,0,0,86250,12.8,NaN,8.9,0.0,1021.9,0.0,0.0,29,2,9
4,146458,15,1,2016-02-29 09:00:00,422.104,0,6,83957,12.8,NaN,8.9,0.0,1021.9,0.0,0.0,29,2,9

In [10]:
from sklearn.preprocessing import MinMaxScaler 
from data_fetcher import Fetcher
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


fetcher= Fetcher() # to clean the data
data_cleaned= fetcher.transform(data)

numerical_pipeline = Pipeline([ ('imputer', SimpleImputer()), # to fill missing values with mean
                                ('scaler', MinMaxScaler())
                              ])

num_attribs = ['meter_reading','air_temperature','dew_temperature','sea_level_pressure','wind_direction','wind_speed'] # columns to transform
date_attribs=['day','month'	,'hour']

full_pipeline = ColumnTransformer([ ("num", numerical_pipeline, num_attribs),
                                      ("date", SimpleImputer() ,  date_attribs )])

transformed_data = full_pipeline.fit_transform(data_cleaned)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [11]:
pd.DataFrame(transformed_data , index=data_cleaned.index , columns= data_cleaned.columns )

,meter_reading,air_temperature,dew_temperature,sea_level_pressure,wind_direction,wind_speed,day,month,hour
timestamp,,,,,,,,,
2016-01-01 00:00:00,0.000000,0.209239,0.381757,0.659280,0.666667,0.167568,1.0,1.0,0.0
2016-01-01 01:00:00,0.364635,0.206522,0.381757,0.668975,0.638889,0.140541,1.0,1.0,1.0
2016-01-01 02:00:00,0.369028,0.176630,0.364865,0.673130,0.000000,0.000000,1.0,1.0,2.0
2016-01-01 03:00:00,0.366282,0.160326,0.341216,0.678670,0.472222,0.081081,1.0,1.0,3.0
2016-01-01 04:00:00,0.366557,0.168478,0.361486,0.684211,0.305556,0.081081,1.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,0.292696,0.326087,0.520270,0.750693,0.611111,0.194595,31.0,12.0,19.0
2016-12-31 20:00:00,0.285283,0.301630,0.506757,0.742382,0.611111,0.221622,31.0,12.0,20.0
2016-12-31 21:00:00,0.280066,0.293478,0.496622,0.732687,0.611111,0.248649,31.0,12.0,21.0
2016-12-31 22:00:00,0.275947,0.293478,0.510135,0.721607,0.527778,0.167568,31.0,12.0,22.0
2016-12-31 23:00:00,0.278418,0.309783,0.520270,0.711911,0.583333,0.308108,31.0,12.0,23.0

In [12]:
## creating a class for doing nothing to the dates

In [25]:
import numpy as np , pandas as pd 
from sklearn.base import BaseEstimator, TransformerMixin

class Do_nothing(BaseEstimator, TransformerMixin):
    
    def __init__(self): # 99 referes to none
        return 
        
    def fit(self, x, y=None):
        return self  # nothing else to do
    
    
    def transform(self, x):
        return x.astype(int)

In [52]:
from sklearn.preprocessing import MinMaxScaler 
from data_fetcher import Fetcher
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


fetcher= Fetcher() # to clean the data
data_cleaned= fetcher.transform(data)

numerical_pipeline = Pipeline([ ('imputer', SimpleImputer()), # to fill missing values with mean
                                ('scaler', MinMaxScaler())
                              ])

num_attribs = ['meter_reading','air_temperature','dew_temperature','sea_level_pressure','wind_direction','wind_speed'] # columns to transform
date_attribs=['day','month'	,'hour']

full_pipeline = ColumnTransformer([ ("num", numerical_pipeline, num_attribs),
                                      ("date", Do_nothing() ,  date_attribs )])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [53]:
transformed_data = full_pipeline.fit_transform(data_cleaned)
pd.DataFrame(transformed_data , index=data_cleaned.index , columns= data_cleaned.columns ).head()

,meter_reading,air_temperature,dew_temperature,sea_level_pressure,wind_direction,wind_speed,day,month,hour
timestamp,,,,,,,,,
2016-01-01 00:00:00,0.000000,0.209239,0.381757,0.659280,0.666667,0.167568,1.0,1.0,0.0
2016-01-01 01:00:00,0.364635,0.206522,0.381757,0.668975,0.638889,0.140541,1.0,1.0,1.0
2016-01-01 02:00:00,0.369028,0.176630,0.364865,0.673130,0.000000,0.000000,1.0,1.0,2.0
2016-01-01 03:00:00,0.366282,0.160326,0.341216,0.678670,0.472222,0.081081,1.0,1.0,3.0
2016-01-01 04:00:00,0.366557,0.168478,0.361486,0.684211,0.305556,0.081081,1.0,1.0,4.0